/log
.ruby-version
.rbenv-version
/.loadpath
/coverage
/tmp
/tags
/nbproject
/catalog.xml
/uml
/svnmerge-commit-message.txt
/.project
/REVISION
/config/deployment_database.yml.*
/config/deployment_database.yml.qa
/config/database.yml
config/database.yml
config/queues.yml
config/oauth.yml
db/schema.rb
/db/data_new
/doc/app
/doc/plugins
/script/test
/script/cucumber-stakeout
/script/rstakeout
/.svn-commit.tmp.swp
/public/javascripts/features
/public/articles
/public/stylesheets/features
/public/plugin_assets
/public/images/amexpub
/public/images/media
/public/tmp/feeds/ctn/*.zip
/public/sitemap*
public/sitemap_index.xml
public/assets/*
# Consolidated from images, javascripts, stylesheets. But do we really want to ignore all this ActiveScaffold stuff?
/public/*/active_scaffold

/*.tmproj
/_scratch

*.kpf
*~
.*.swp
.svn
features*.html
spec-results.html
.rvmrc
.rvmrc.10.18.2012-11:52:27

# From app/controllers, but seems generally significant
_scratchpad.rb

/survey_reports
DEPLOYMENT_MODE
doc/html

vendor/bundles/*
vendor/cache/*
public/javascripts/test.js
public/stylesheets/compiled/*
*.scssc
*.orig
*.sassc
.DS_Store
.DS_Store
app/.DS_Store
bin
config/database.yml

public/stylesheets/chosen.css
public/stylesheets/community/logistration.css
public/stylesheets/destinations.css
public/stylesheets/destinations.carousel.css
public/stylesheets/destinations.gmap.css
public/stylesheets/feedback.tab.css
public/stylesheets/home.polls.css
public/stylesheets/home_page.css
public/stylesheets/ie.css
public/stylesheets/print.css
public/stylesheets/screen.css
public/stylesheets/seaofclouds-tweet.css
public/stylesheets/weekend-getaways.css
public/stylesheets/widget.css
vendor/bundle/*
